<ion-view animation="slide-left-right"  >

  <ion-header-bar align-title="center" class="bar-positive bar bar-header disable-user-behavior">
    <button class=" button buttons button-icon ion-arrow-left-c header-item"
            ng-click="$ionicGoBack()"></button>
    <h1 class="title">{{mTitle}}</h1>
  </ion-header-bar>

  <ion-content scroll="true" >
    <div id="layout_loading_frist" ng-show="ctrl.isFrist">
      <ion-spinner icon="android"></ion-spinner>
    </div>

    <ion-list >
      <ion-item ng-repeat="entity in ctrl.listDisp"
                ng-click="goDetial(entity)">
        <a>{{entity.Title}}</a>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
