<ion-view animation="slide-left-right"  >

  <ion-header-bar align-title="center" class="bar-positive bar bar-header disable-user-behavior">
    <button class=" button buttons button-icon ion-arrow-left-c header-item"
            ng-click="$ionicGoBack()"></button>
    <h1 class="title">{{mEntity.Title}}</h1>
  </ion-header-bar>

  <ion-content scroll="true" >
    <div id="layout_loading_frist" ng-show="ctrl.isFrist">
      <ion-spinner icon="android"></ion-spinner>
    </div>

    <p style="padding: 10px;" ng-bind-html='mContent'></p>
  </ion-content>
</ion-view>
