<ion-view >
    <ion-content scroll="true" style="margin-top:40px">
        <ion-refresher pulling-icon="ion-loading-c" pulling-text="下拉刷新"
                       refreshing-text="刷新成功" refreshing-icon="ion-loading-c"
                       on-refresh="datalist.doRefresh()">
        </ion-refresher>

        <ion-list >
            <ion-item style="padding: 0;"
                      ng-repeat="worklog in datalist.list"
                      ng-click="goDetial(worklog)">
                <div class="hour-layout">
                  <a class="hour-value">{{worklog.WorkHour}}</a>
                  <a class="hour-text">小时</a>
                  <a class="work-date">{{worklog.WorkDate}}</a>
                </div>
                <div style="overflow-x: hidden; text-overflow: ellipsis;">
                  <a class="ProjName">{{worklog.ProjName}}</a>
                  <a class="ProjType">{{worklog.WorkTypeName}}</a>
                </div>
              <ion-option-button
                class="button-balanced my-option-size"
                ng-click="datalist.doEdit($index,worklog)">
                修改
              </ion-option-button>
              <ion-option-button
                class="button-balanced my-option-size"
                ng-click="datalist.doDelete($index)">
                删除
              </ion-option-button>



            </ion-item>
        </ion-list>

      <ion-infinite-scroll
        ng-if="datalist.currentCount != 0 && datalist.currentCount <= datalist.allCount"
        on-infinite="datalist.doLoadMore()"
        distance="1%"
        icon="ion-load-a" immediate-check="false">


      </ion-infinite-scroll>
    </ion-content>
</ion-view>


